<div>
    <main class="form-signin col-lg-6 mx-auto">
      <form class="">
        <h1 class="h3 mb-3 fw-bold">Ввести информацию о новом подопечном</h1>    
        <div class="form-floating mb-3">
         
            <label class="form-label">Животное</label>
            
            <select #log="ngModel" name="animal" [(ngModel)]="inputAnimal.type" type="text"  class="form-control" id="type">
              <option value="cat">Кошка</option>
              <option value="dog">Собака</option>
           </select>
          
       </div>
        <div class="form-floating mb-3">
          <input required #pass="ngModel" name="name" [(ngModel)]="inputAnimal.name" type="text" class="form-control"  >
          <label for="floatingInput">Кличка</label>
        </div>      
       
        <div class="form-floating mb-3">
           <input #log="ngModel" name="age" [(ngModel)]="inputAnimal.age" type="text"  class="form-control"  >
           <label for="floatingInput">Возраст</label>
        </div>
        <div class="form-floating mb-3">
            <input #log="ngModel" name="description" [(ngModel)]="inputAnimal.description" type="text"  class="form-control"  >
            <label for="floatingInput">Описание</label>
         </div>
         <div class="form-floating mb-3">
            <input #log="ngModel" name="img" [(ngModel)]="inputAnimal.image" type="text"  class="form-control"  >
            <label for="floatingInput">Ссылка на изображение</label>
         </div>
        
            
        <button  (click)="newAnimal()"  class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
  <!-- [disabled]="log.invalid || pass.invalid"-->
      </form>
    </main>
</div>
<div>
    <main class="form-signin col-lg-6 mx-auto">
        <form #myForm="ngForm" >
          <h1 class="h3 mb-3 fw-bold">Новое событие</h1>    
          <div class="form-floating mb-3">
            <input #log="ngModel" name="title" [(ngModel)]="inputNews.title" type="text"  class="form-control"  >
            <label for="floatingInput">Заголовок</label>
         </div>
          <div class="form-floating mb-3">
            <input required #pass="ngModel" name="src" [(ngModel)]="inputNews.img" type="text" class="form-control"  >
            <label for="floatingPassword">Ссылка на изображение</label>
          </div>      
          <!--minlength="5" pattern="[a-zA-Z]^[ 0-9]+$*"-->
          <div class="form-floating mb-3">
             <input #log="ngModel" name="text" [(ngModel)]="inputNews.text" type="text"  class="form-control"  >
             <label for="floatingInput">Что нового?</label>
          </div>
                  
              
          <button   (click)="newNews()" class="w-100 btn btn-lg btn-primary" type="submit">Отправить</button>
    <!-- [disabled]="log.invalid || pass.invalid"-->
        </form>
      </main>
</div>
<h1  class="text-center my-5">Управление пользователями</h1>

    <div class="card shadow-sm my-3 mx-4"  >
            <div class="list-group list-group-flush">
                <ng-container *ngFor="let user of tusers">
                <a class="list-group-item" (click)="open(user)">Редактировать пользователя <b>{{user.email}}</b> {{user.name}} {{user.surname}}</a>
            </ng-container>
          </div>
</div>

  <div [ngStyle]="{'display':(display===0)? ('none'):('unset')}">
    
    <h1 class="text-center my-5">Редактирование</h1>

    <form class="container mb-5">
        <div class="mb-3">
          <label class="form-label">Имя</label>
          <input name="edname" [(ngModel)]="userEdit.name" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Фамилия</label>
          <input name="edsurname" [(ngModel)]="userEdit.surname" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Роль</label>
            
            <select name="edrole" [(ngModel)]="userEdit.role" type="text" class="form-control" id="roles">
              <option value="user">Пользователь</option>
              <option value="volunteer">Волонтёр</option>
              <option value="admin">Администратор</option>
           </select>
          </div>
        <button (click)="editUser()" type="submit" class="btn btn-primary">Сохранить</button>
      </form>

  </div>

  <h1  class="text-center my-5">Управление подопечными</h1>

    <div class="card shadow-sm my-3 mx-4"  >
            <div class="list-group list-group-flush">
                <ng-container *ngFor="let post of tposts">
                <a class="list-group-item" >Подопечный <b>{{post.name}}</b> {{post.type}} {{post.age}}
                <button  type="submit" class="btn btn-primary mx-4" (click)="findHome(post)">Нашел дом</button>
      <button  type="submit" class="btn btn-primary" (click)="deleteAnimal(post)">Удалить</button>
    </a>
            </ng-container>
          </div>
</div>
