<div class="text-center">
    
    <main class="form-signin col-lg-6 mx-auto">
      <form class="">
        <img class="mb-4" src="../assets/img/Layer_1.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-bold">Регистрация</h1>
    
        <div class="form-floating mb-3">
          <input required email  #email="ngModel"  name="reg-email" [(ngModel)]="user.email" type="email"  class="form-control"  >
          <label for="floatingInput">email</label>
       </div>
       <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
        Некорректный email
    </div>
        <div class="form-floating mb-3">
          <input required minlength="5" #pass="ngModel" name="reg-password" [(ngModel)]="user.password" type="text" class="form-control"  >
          <label for="floatingPassword">Пароль</label>
        </div>   
        <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger">
          не менее 5 символов
      </div>   
        <!--minlength="5" pattern="[a-zA-Z]^[ 0-9]+$*"-->
        <div class="form-floating mb-3">
           <input required minlength="3" pattern="[a-zA-Zа-яА-Я]*" #name="ngModel" name="reg-name" [(ngModel)]="user.name" type="text"  class="form-control"  >
           <label for="floatingInput">Имя</label>
        </div>
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
          Имя содержит только символы алфавита, не менее 3х символов
      </div> 
        <div class="form-floating mb-3">
            <input required pattern="[a-zA-Zа-яА-Я]*" minlength="3" #surname="ngModel" name="reg-surname" [(ngModel)]="user.surname" type="text"  class="form-control"  >
            <label for="floatingInput">Фамилия</label>
         </div>
         <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
          Фамилия содержит только символы алфавита, не менее 3х символов
      </div> 
        
            
        <button [disabled]="email.invalid || pass.invalid || name.invalid || surname.invalid" (click)="checkUser()"  class="w-100 btn btn-lg btn-primary" type="submit">Регистрация</button>
  <!-- [disabled]="log.invalid || pass.invalid"-->
 
      </form>
    </main>
    
    </div>
    